.App {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.search {
  margin-bottom: 1rem;
}

.data {
  max-height: 50vh;
  min-width: 25vw;
  max-width: 50vw;
  overflow: auto;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: flex-start;
}
